{% load static %}
<html>
  <head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <div>
      <h1 class="post__header">
        {% if user.is_authenticated %}
        <div class="post__header--buttons">
          <a href="{% url 'post_new' %}" class="post__button--header">➕</a>
          <a href="{% url 'post_draft_list' %}" class="post__button--header">
            📝
          </a>
          <p>Hola {{ user.username }} <a href="{% url 'logout' %}">🔓</a></p>
        </div>
        {% else %}
        <div class="post__header--buttons">
          <a href="{% url 'login' %}" class="post__button--header">🔒</a>
        </div>
        {% endif %}
        <a href="/">Django Blog ✨</a>
      </h1>
    </div>

    <div>
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
