body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-weight: 100;
  line-height: 1.5em;
}

h2 a,
h2 {
  color: darkgreen;
  margin-left: 0.75em;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
  margin: 3em;
  border: 0.5px solid burlywood;
}

.post__date {
  font-size: 0.75em;
  color: palevioletred;
  margin-left: 4em;
}

a {
  text-decoration: none;
}

.post__header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: palevioletred;
  padding: 1em;
}

.post__header p {
  font-size: 0.4em;
  font-weight: 100;
  color: white;
  margin: 0;
}

.post__header a {
  color: white;
}

.post__content {
  margin-left: 3em;
  margin-right: 1.5em;
}

.post__button--new {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darkgreen;
  color: white;
  position: absolute;
  right: 0;
  padding: 0.25em;
}

.post__button--submit {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 0.5em;
  width: 20%;
  font-size: 1em;
  cursor: pointer;
}

.post__button--edit {
  margin-left: 1em;
  font-size: 1.5em;
  text-decoration: none;
}

.post__button--drafts {
  font-size: 1.5em;
  position: absolute;
  right: 10px;
  top: 150px;
}

.post__button--publish {
  margin-left: 1em;
  background-color: palevioletred;
  color: white;
  padding: 0.25em;
}

.post__button--header {
  font-size: 0.75em;
  margin-bottom: 1em;
}

.post__form {
  margin: 2em;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.post__header--buttons {
  right: 10px;
  position: absolute;
  text-align: right;
}

label {
  color: palevioletred;
}

input,
textarea {
  width: 100%;
  border: 1px solid black;
  min-height: 2em;
}

.post__button--addcomment {
  margin: 1.5em;
}

.post__button--addcomment a {
  background: burlywood;
  color: white;
  padding: 0.5em;
  font-size: 0.75em;
}
